[user]
{{- if eq .chezmoi.hostname "banana" }}
    email = spikywebb@gmail.com
    name = Callum Webb
{{- end }}
{{- if eq .chezmoi.hostname "SCLT465" }}
    email = callum.webb@stfc.ac.uk
    name = Callum Webb
{{- end }}
