@import "mocha.css";

* {
    font-family: "DejaVuSans Nerd Font";
    font-size: 16px;
}

window#waybar {
    background: transparent;
    border-radius: 10px;
    min-height: 0;
    color: @text;
}

.modules-left, .modules-center, .modules-right {
    border: @mauve 3px solid;
    border-radius: 15px;
    background: @base;
    padding: 3px 15px;
    margin: 15px 15px 0px;
}

#workspaces {
    color: transparent;
}

#workspaces button {
    margin: 0;
    padding: 3px;
    color: @text;
}

#workspaces button.active {
    color: @mauve;
}
