font_family "BerkeleyMonoVariable Nerd Font"
font_size   14.0

enable_audio_bell no

foreground            {{ .colors.text }}
background            {{ .colors.base }}
cursor                {{ .colors.green }}
cursor_text_color     {{ .colors.base }}
selection_foreground  {{ .colors.text }}
selection_background  {{ .colors.highlight_mid }}
url_color             {{ .colors.teal }}

color0   {{ .colors.base }}     color8   {{ .colors.overlay }}
color1   {{ .colors.red }}      color9   {{ .colors.red }}
color2   {{ .colors.green }}    color10  {{ .colors.green }}
color3   {{ .colors.yellow }}   color11  {{ .colors.yellow }}
color4   {{ .colors.blue }}     color12  {{ .colors.blue }}
color5   {{ .colors.purple }}   color13  {{ .colors.purple }}
color6   {{ .colors.teal }}     color14  {{ .colors.teal }}
color7   {{ .colors.subtle }}   color15  {{ .colors.text }}
