vim.pack.add({
  {
    src = "https://github.com/{{ .neovim.plugin }}",
    name = "{{ .neovim.name }}",
  },
})

{{ if eq .neovim.name "rose-pine" -}}
require("rose-pine").setup({ variant = "{{ .neovim.variant }}" })
{{ else if eq .neovim.name "catppuccin" -}}
require("catppuccin").setup({ flavour = "{{ .neovim.flavour }}" })
{{ else if eq .neovim.name "everforest" -}}
require("everforest").setup({ background = "{{ .neovim.background }}" })
{{ else if eq .neovim.name "tokyonight" -}}
require("tokyonight").setup({ style = "{{ .neovim.style }}" })
{{ else if eq .neovim.name "kanagawa" -}}
require("kanagawa").setup({ theme = "{{ .neovim.style }}" })
{{ else if eq .neovim.name "nord" -}}
-- no setup needed
{{ else if eq .neovim.name "dracula" -}}
-- no setup needed
{{ else if eq .neovim.name "gruvbox" -}}
vim.o.background = "{{ .neovim.background }}"
{{ else if eq .neovim.name "gruvbox-material" -}}
vim.g.gruvbox_material_background = "medium"
vim.o.background = "{{ .neovim.background }}"
{{ else if eq .neovim.name "nightfox" -}}
-- colorscheme name set below
{{ else if eq .neovim.name "onedark" -}}
require("onedark").setup({ style = "{{ .neovim.style }}" })
require("onedark").load()
{{ else if eq .neovim.name "solarized" -}}
vim.o.background = "{{ .neovim.background }}"
{{ else if eq .neovim.name "ayu" -}}
require("ayu").setup({ mirage = {{ if eq .neovim.style "mirage" }}true{{ else }}false{{ end }} })
vim.o.background = "{{ .neovim.background }}"
require("ayu").colorscheme()
{{ else if eq .neovim.name "oxocarbon" -}}
vim.o.background = "{{ .neovim.background }}"
{{ end -}}
vim.cmd("colorscheme {{ .neovim.name }}")
