background-color={{ .colors.overlay }}
text-color={{ .colors.text }}
border-color={{ .colors.highlight_high }}
progress-color=over {{ .colors.blue }}
default-timeout=5000
ignore-timeout=1

[urgency=high]
border-color={{ .colors.red }}
