* {
	color: @main-fg;
	border-radius: 0;
}

#waybar {
	background-color: @outline;
}
#waybar > box {
	margin: 3px;
	background-color: @main-bg;
	padding: 2px 0;
}

button {
	border-radius: 0;
	min-width: 0;
	padding: 0 8px;
}

.module {
	margin-bottom: 0;
}

tooltip {
	border: 2px solid @main-br;
	border-radius: 0;
	background-color: @main-bg;
	box-shadow: 4px 4px 0 0 alpha(@main-br, 0.5);
}
tooltip > box {
	padding: 2px 8px;
}
