/*----------------
    media info
----------------*/

#mpris {
	padding: 2px 12px;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
	color: alpha(@main-fg, 0.7);
}

#mpris:hover {
	box-shadow: none;
}

/*------------
    volume
------------*/

#pulseaudio,
#wireplumber {
	padding: 2px 8px;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
}

/*----------------
    brightness
----------------*/

#backlight {
	padding: 2px 8px;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
}

/*-------------
    battery
-------------*/

#battery {
	padding: 2px 8px;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
}

/*----------------
    power menu
----------------*/

#custom-power_menu {
	padding: 2px 12px;
	margin: 0 3px;
	border: 2px solid @accent;
	border-radius: 0;
	background-color: @main-bg;
	color: @accent;
	box-shadow: 4px 4px 0 0 alpha(@main-br, 0.6);
	font-weight: bold;
}

#custom-power_menu:hover {
	box-shadow: 2px 2px 0 0 alpha(@main-br, 0.6);
	background-color: @hover-bg;
}

#custom-power_menu:active {
	box-shadow: none;
}
