/*------------------
    temperature
------------------*/

#temperature {
	padding: 2px 10px;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
}

/*------------
    memory
------------*/

#memory {
	padding: 2px 10px;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
}

/*---------
    cpu
---------*/

#cpu {
	padding: 2px 10px;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
}

/*-----------------
    distro icon
-----------------*/

#custom-distro {
	padding: 2px 8px;
	margin: 0 3px;
	border: 2px solid @accent;
	background-color: @main-bg;
	color: @accent;
	font-weight: bold;
}

/*--------------------
    idle inhibitor
--------------------*/

#idle_inhibitor {
	padding: 2px 8px;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
}

/*----------
    time
----------*/

clock#time {
	padding: 2px 10px 2px 10px;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
}

/*----------
    date
----------*/

clock#date {
	padding: 2px 10px;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
	color: alpha(@main-fg, 0.6);
}

/*-----------------
    system tray
-----------------*/

#network {
	padding: 2px 8px;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
}

#bluetooth {
	padding: 2px 8px;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
}

#custom-system_update {
	padding: 2px 8px;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
}
