/*--------------
    username
--------------*/

#custom-user {
	padding: 2px 12px;
	border: 2px solid @main-br;
	margin: 0 3px;
	background-color: @main-bg;
}

/*----------------
    workspaces
----------------*/

#workspaces {
	padding: 0;
	margin: 0 3px;
	border: 2px solid @main-br;
	background-color: @main-bg;
}

#workspaces button {
	padding: 2px 8px;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
}

#workspaces button:hover {
	background-color: @hover-bg;
}

#workspaces button.active {
	background-color: @main-bg;
	background-image: repeating-linear-gradient(
		0deg,
		transparent,
		transparent 1px,
		alpha(@main-br, 0.25) 1px,
		alpha(@main-br, 0.25) 2px
	);
}

#workspaces button.active label {
	color: @accent;
	font-weight: bold;
}

/*------------------
    window title
------------------*/

#window {
	margin: 0 3px;
	padding: 2px 10px;
	border: 2px solid @main-br;
	background-color: @main-bg;
}

#window label {
	color: alpha(@main-fg, 0.7);
}
